# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Streamlit secrets
.streamlit/secrets.toml

# Environment variables
.env

# IDE config folders
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/ 